<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:utext="#{email.confirm.reset.password.start(${recipient})}"></p>
<p> <span th:text="#{email.confirm.reset.password.conf}"></span>
    <a th:href="#{email.confirm.reset.password.url(${url})}">
    <span th:text="#{email.confirm.reset.password.ref}"></span></a>
    <span th:utext="#{email.confirm.reset.password.change}"></span>
</p>
<p th:utext="#{email.confirm.reset.password.greeting}"></p>
<p th:utext="#{email.confirm.reset.password.end(${ipo})}"></p>
</body>
</html>
