<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:utext="#{email.send.reset.password.start(${recipient})}"></p>
<p th:utext="#{email.send.reset.password.request}"></p>
<p th:utext="#{email.send.reset.password.click}"></p>
<p><a th:href="#{email.send.reset.password.url(${url})}">
<span th:text="#{email.send.reset.password.ref}"></span></a></p>
<p th:utext="#{email.send.reset.password.info}"></p>
<p th:utext="#{email.send.reset.password.greeting}"></p>
<p th:utext="#{email.send.reset.password.end(${ipo})}"></p>
</body>
</html>
